extends ../layout

block content
  h1 Username
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="/users/1", method="get", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="picture") Attach Picture
          .col-xs-12.col-sm-10
            input#image(type="file", name="picture", accept="image/*")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="city") City
          .col-xs-12.col-sm-10
            input#city.form-control(name="city")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="favorite") Favorite Bridge
          .col-xs-12.col-sm-10
            input#password.form-control(name="favorite")
        button.btn.btn-default Save
