extends layout

block content
  .row.page-header
    .col-lg-12
      h1 San Francisco-Oakland Bay Bridge
  .row
    .col-xs-12.col-md-10
      .row
        .col-xs-12.col-sm-7
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          .panel.panel-primary
            .panel-heading
              h3.panel-title Location
            .panel-body
              p San Francisco, CA, USA
          .panel.panel-primary
            .panel-heading
              h3.panel-title Type
            .panel-body
              p Double-decked Suspension
          .panel.panel-primary
            .panel-heading
              h3.panel-title Length
            .panel-body
              p 4.46 miles (7.18 km)
          .panel.panel-primary
            .panel-heading
              h3.panel-title Height
            .panel-body
              p 526 ft (160 m)
        .col-xs-12.col-sm-5
          .row
            img(src='/images/Oakland_Bay_Bridge_Western_Part.jpg').col-xs-12
          .row
            .col-xs-12.location-map
              .panel.panel-primary
                .panel-heading
                  h2.panel-title Map
                .panel-body
                  img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=37.818056,-122.346667&zoom=12&size=400x350&sensor=false&markers=37.818056,-122.346667&scale=2&key=AIzaSyAjPmcD0QpT8q7WaePNFKBSwyVMGDItOLA')
      .row
        .col-xs-12
          panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/bridges/1/reviews/new') Add Review
              h2.panel-title Reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                    span.reviewAuthor Matt Ehrlich
                    small.reviewTimestamp 4 Aug 2016
                  .col-xs-12
                    p Cool Bridge, bro!
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor Hans Moleman
                    small.reviewTimestamp 5 Aug 2016
                  .col-xs-12
                    p Mediocre Bridge, bro!
    .col-xs-12.col-md-2
      p.lead Create, review, and learn about that which conncts us all -Bridges!
