extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Best Bridges
          small &nbsp;Where bridgophiles talk about bridges!
  .row
    .col-sm-12.col-md-8
      .row.list-group
        .col-xs-12.list-group-item
          .col-xs-12.col-sm-8
            h4
              a(href='/bridges/1') San Francisco-Oakland Bay Bridge
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
            p.location San Francisco, CA, USA
          img(src='/images/Oakland_Bay_Bridge_Western_Part.jpg').col-xs-12.col-sm-4
    .col-sm-12.col-md-4
      p.lead At Best Bridges, you can find and rate the best bridges... in the world!
      a.btn.btn-default(href='/bridges/new') Add a Bridge
